{% extends 'base.admin.html.twig' %}

{% block title %}New Belts{% endblock %}

{% block body %}
    <h1>Create new Belts</h1>

    {{ include('belts/_form.html.twig') }}

    <a href="{{ path('belts_index') }}">back to list</a>
{% endblock %}
