{% extends 'base.admin.html.twig' %}

{% block title %}New Accessories{% endblock %}

{% block body %}
    <h1>Create new Accessories</h1>

    {{ include('accessories/_form.html.twig') }}

    <a href="{{ path('accessories_index') }}">back to list</a>
{% endblock %}
