{% extends 'base.admin.html.twig' %}

{% block title %}Edit Sunglasses{% endblock %}

{% block body %}
    <h1>Edit Sunglasses</h1>

    {{ include('sunglasses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sunglasses_index') }}">back to list</a>

    {{ include('sunglasses/_delete_form.html.twig') }}
{% endblock %}
